/* --------------------------------------------------------
Style Sheet for Dog's Paradise Cozumel

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

:root {
  --color-brand: #06768d;
  --color-brand-dark: #242424;
  --color-dark: #010203;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-brand bg-brand-dark;
}

::-moz-selection {
  @apply text-brand bg-brand-dark;
}

.link {
  @apply underline underline-offset-2 outline-none;
}

.link:hover {
  @apply no-underline text-brand;
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply bg-slate-300 dark:bg-brand-dark dark:text-slate-200 !important;
}


/* ==========================================================================
	Forms 
	========================================================================== */

.button {
  @apply w-48 px-8 py-3 
  bg-brand text-white rounded shadow-lg
    hover:shadow hover:cursor-pointer
    transition-all
}

.button-sm {
  @apply w-auto px-4 py-2 text-xs bg-slate-500 hover:text-black;
}

.button:disabled {
  @apply bg-slate-500 text-white shadow-none hover:cursor-not-allowed;
}

.button-secondary {
  @apply px-4 py-2 text-sm transition-all text-white rounded shadow-md bg-brand dark:text-white hover:shadow hover:cursor-pointer;
}

input[type='text']:enabled, 
input[type='number'], 
input[type='email'], 
input[type='website'] {
  @apply text-dark dark:bg-dark dark:text-white focus:outline-none;
}

.login-form input[type='text'], 
.login-form input[type='number'], 
.login-form input[type='email'], 
.login-form input[type='website'] {
  @apply border px-4 py-3 text-brand-dark text-center rounded-lg
    focus:ring-2 focus:ring-offset-2 focus:ring-brand;
}

.profile input[type='text'], .profile input[type='number'], .profile input[type='email'], .profile input[type='website'] {
  @apply border px-3 py-2 rounded dark:border-brand-dark;
}

.add-dog input[type='text'], .add-dog input[type='number'], .add-dog input[type='email'], .add-dog input[type='website'] {
  @apply border px-5 py-3 rounded;
}

input[type='radio'] {
  @apply appearance-none rounded-full h-4 w-4 mt-1 align-top cursor-pointer mr-2
  bg-white checked:bg-brand
    border border-brand/40 checked:border-brand/50 
    ring-offset-2 ring-1 ring-brand
    transition duration-200  
}

.profile textarea {
  @apply focus:ring-2 focus:ring-brand outline-none rounded-sm;
}

/* ==========================================================================
	Mapbox overrides
	========================================================================== */

div.mapboxgl-popup-content {
  @apply p-2 bg-brand-dark/40 backdrop-blur-md md:w-max md:max-w-md;
}

div.mapboxgl-popup-content div {
  @apply text-sm p-4 shadow font-sans bg-white/80 backdrop-blur-md dark:bg-brand-dark/80 dark:text-white;
}

div.mapboxgl-popup-content img {
  @apply rounded-sm shadow-sm;
}

div.mapboxgl-popup-content p {
  @apply text-xs mt-4;
}

div.mapboxgl-popup-content span {
  @apply text-xl mb-2 block;
}

.mapboxgl-popup-close-button {
  @apply text-2xl px-2 py-0 hover:text-brand hover:scale-105 transition-all text-slate-500 dark:text-white focus:outline-none;
}


/* ==========================================================================
	Supabase UI overrides
	========================================================================== */

.sbui-btn-primary { 
  @apply bg-brand !important;
}

.sbui-typography-link {
  @apply text-brand !important;
}

.sbui-checkbox:checked {
  @apply bg-brand !important; 
}


/* ==========================================================================
	Blob
	========================================================================== */

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* ==========================================================================
	Sticky header
	========================================================================== */

.sticky-header {
  @apply fixed top-0 left-0 right-0;
}

.scroll-up .sticky-header {
  @apply shadow bg-white transition-all duration-300;
}

.scroll-up:not(.menu-open) .sticky-header {
  @apply shadow-none bg-transparent;
}

.scroll-down .sticky-header {
  @apply shadow-lg bg-white/80 transition-all duration-700;
}



/* ==========================================================================
	Admin
	========================================================================== */

.admin table {
  @apply rounded-sm;  
}

.admin th {
  @apply px-2 py-6;
}

.admin tr, td {
  @apply px-2 py-4;
}

.admin input[type='text'], 
.admin input[type='number'], 
.admin input[type='email'], 
.admin input[type='website'] {
  @apply border px-3 py-2;
}

.admin input[type='text']:disabled {
  @apply border-none bg-transparent;
}

.admin-table {
  @apply shadow bg-white text-brand-dark dark:bg-brand-dark dark:text-white text-sm table-auto w-full;
}

.admin-table-header {
  @apply border-b dark:border-slate-800 font-bold bg-brand text-white;
}

.admin-table-title {
  @apply text-xl mb-1;
}
